/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #282828F2;
    bg1:    #303030;
    bg2:    #3C383680;
    bg3:    #D79921F2;
    fg0:    #FBF1C7;
    fg1:    #EBDBB2;
    fg2:    #BDAE93;
    fg3:    #504945;
}

@import "template/rounded-template.rasi"
