/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    #070722F2;
    bg1:    #0e0e43;
    bg2:    #3D3D3D80;
    bg3:    #21215fF2;
    fg0:    #fff59b;
    fg1:    #a9aefe;
    fg2:    #969696;
    fg3:    #3D3D3D;
}

@import "template/rounded-template.rasi"
