/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:    ##1e1e2e;
    bg1:    #313244;
    bg2:    #a3b4eb80;
    bg3:    #cba6f7F2;
    fg0:    #94e2d5;
    fg1:    #94e2d5;
    fg2:    #4c4f69;
    fg3:    #1e1e2e;
}

@import "template/rounded-template.rasi"
